<script src="https://npmcdn.com/vue/dist/vue.js"></script>

<div id="app">
  <ul>
    <li v-for="(ingredient, i) in ingredients" v-bind:key="ingredient" >{{ ingredient }} {{ i }}</li>
  </ul>
  <input type="text" v-model="test">
  <button @click="ingredients.push(test)">new ingredient</button>
  <hr>
  <ul>
    <li v-for="person in persons">
      <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
    </li>
  </ul>
  <span v-for="n in 10">{{ n }}</span>
</div>
<script src="app.js"></script>
